.gallery-image{
	overflow: hidden;
}

.gallery-image img{

}

.pagecontainer.onepage{
	background-color: #fff;
}

.pagecontainer.onepage .imagescroll{
	background-color: #eee;
	background-image: url('../img/debut_dark.png');
	border-bottom: 1px solid #000;
-webkit-box-shadow: inset 0px -20px 50px -30px rgba(0, 0, 0, 1);        
        box-shadow: inset 0px -20px 50px -30px rgba(0, 0, 0, 1);	
}

.pagecontainer.onepage .imagescroll img{
	margin: 10px;
	border: 8px solid #eee;
}

.pagecontainer.onepage .textscroll{
	padding: 20px;
}


.pagecontainer.onepage .textscroll p{
	margin:10px;
	padding: 10px;
}

.pagecontainer.onepage .textscroll p:last-child{
	padding-bottom:50px;
}

.pagecontainer{
	-webkit-transition-duration: 0.5s;
}
.hidden-zoomed{
	opacity: 0;
	-webkit-transform: scale(0,0);
	-webkit-transition-duration: 0.5s;	
}

.hidden-right{
	opacity: 0;
	-webkit-transform: translate(110%,0);
	-webkit-transition-duration: 0.5s;
}

.hidden{
	opacity: 0;
	-webkit-transition-duration: 0.5s;
}



.overlay h2{
	font-size: 60pt;
	width: 100%;
	text-align:  center;
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -30pt;
	color: #666;
text-shadow: 0px 0px 10px #000;
    filter: dropshadow(color=#000, offx=0, offy=0);	
}







.gallerytext{
	position: absolute;
	background-color: #ccc;
	padding: 20px;
}

.gallerytext .textcontainer{
	padding-top: 100px;
}

.gallerytext p,.gallerytext h2,.gallerytext h3{
	color: #222;
	padding: 5px;
	padding-top: 20px;
}

.gallery-image{
	border: 10px solid #eee;
	-webkit-box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, 1);
        box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, 1);	

}

