@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700);
*{
	-webkit-user-select:none;		
}
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    padding: 3px;
    opacity: 0.5;
}
 

::-webkit-scrollbar-track {    
}
 

::-webkit-scrollbar-thumb {    
    background: rgba(150,150,150,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(150,150,150,0.5); 
}

h1,h2,h3,h4,h5,h6,p,span,a,div,td,th{
	font-family: sourceSanPro;
}

a{
	text-decoration: none;
}

h2{
	font-size: 24pt;
	font-weight: bold;
}

h1{
	font-size: 36pt;
	font-weight: bold;
}

/*######### Launch page #############*/
#launchPage {
	color: white;
	background: #303030;
	width: 1600px;
	height: 900px;
}

.launchPageHeader {
	font-size: 60px;
	line-height: 72px;
}

.leftPane60 {
	float: left;
	width: 60%;
}

.leftPaneContent {
	margin: 80px;
	margin-top: 60px; /*to balance fonts line height*/
}

.rightPane30 {
	float: right;
	width: 40%;
}

.launchPageText {
	font-size: 30px;
	line-height: 40px;
	margin-top: 1em;
}

.launchPageImage {
	margin-top: 0px;
	margin-right: 0; 
	margin-left: 0;
	height: 900px;
	width: 100%;
}

#launchButtonWrapper {
	display:block;
	position: fixed;
	margin-left: auto;
    margin-right: auto;
    
	width: 50%;
    bottom: 85px;
    text-align: center;
}

#launchButton .fa{
	font-size: 35px;
}

#launchButton {
	display:inline-block;
	background: #D50000;
/*  padding: 20px 50px; */
	padding: 0.6em 1.7em;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    border-radius: 5px;
	text-shadow: -1px -2px rgba(0,0,0,.5);
}

#launchButton:hover {
	background: white;
	color: #D50000;
}

/*#########################*/

body{
	width: 100%;
	min-height: 100%;

}

#wrapper{
	width: 100%;
	min-height: 100%;

}

.menu{
	background-size: 100% 100%;
}

.shadow{
-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);		
}
.small-shadow{
-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);		
}
.inner-shadow{
-webkit-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1);        
        box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1);		
}

.border{
	border: 8px solid #ddd;
}
/*

					STARTUPLIST
*/



#header{
	position: absolute;
	top: 25px;
	width: 206px;
	height: 44px;
	left: -57px;
	background-color: #EEE;
	color: #777;
	text-align: center;
	z-index: 1000;
	-webkit-transform: rotate(-45deg);
-webkit-box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 1);	
}

#header h1{
	color: #252424;
}

#listcontainer{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #252424;
	padding-bottom: 100px;
}

.presentation_list{
	margin-top: 128px;
	width: 80%;
	margin-left: 10%;
	

	overflow-y:scroll;
	position: relative;
	background-color: #eee;
-webkit-box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 1);	
}

.presentation_container:first-child{
	margin-top: 50px;
}

.presentation_container{
	position: relative;
	width: 90%;
	margin: 20px;
	margin-left: 5%;	
	padding: 10px;
	background-color: #ddd;
	min-height: 148px;
	border: 4px solid transparent;
	-webkit-transition-duration:0.2s;
}

.presentation_container:hover{
	cursor: pointer;
	border: 4px solid #444;
	-webkit-transition-duration:0.2s;
}

.presentation_container img{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 128px;
	height: 128px;	
	border: 8px solid #ddd;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);        
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);	
}

.presentation_container p, .presentation_container h2{
	margin:10px;
	margin-left: 200px;	
}






/* .langselect{
	position: absolute;
	top: 10px;
	right: 0px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
}


.langselect .flag.selected{
	border: 4px solid #d00;
}

.langselect .flag{
	background-color: #eee;
	display: inline-block;
	border: 4px solid #444;
	margin: 10px;
	width: 64px;
	height: 48px;
} */

.layerInfoDisplay{
	position: absolute;
	width: 30%;
	max-width: 700px;
	background-color: #444;
	padding: 10px;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);	

	color: #eee;
	display: none;
}

.layerInfoDisplay h4{
	margin-top:10px;
	margin-bottom: 30px;
	font-size: 16pt;
	font-weight: bold;
}


/* ############## NAVIGATION BUTTONS ############# */

.circleButtonBase {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    behavior: url(PIE.htc);
	
	position:absolute;
	
	z-index: 1000;

	
	background: white;
	color: #303030;
	opacity: 0.95;
}

.circleButtonBase:hover {
	background: Grey;
	color: white;
	cursor: pointer;
}

.circleButtonBase i {
	height: 80px;
	width: 80px;
	line-height: 80px; /*set it to width! */
	
	display: block;
	font-size: 3.5em;


	text-align: center;
}

.topLeftButton {
	left:40px; 
	top:40px; 
}

#backToCurrentSlideButton {
	left: 40px;
	top: 140px;
}

#backToCurrentSlideButton i {
	font-size: 3em;
}


#TermNCondLink {
	padding: 200px;
	display: inline-block;
/* 	float:left; */
/* 	//margin-left: -50px; */
/*  	margin-bottom: 200px;  */
	position:absolute;  
	width: -10px;
	bottom:0px; 

}

#TermNCondLinkTextWrapper {
	font-size: 15px;
	margin-bottom: -195px;
	padding-top: 135px;
	margin-left: -150px;
}

#TermNCondLinkText {
 	pointer-events: all; /*Pointer events allowed only now, to prevent blocking clicks by padding horror I did :) */
	color:white;
	width: 130px;
	border-bottom: 2px white dotted;
} 

#TermNCondLinkText:hover {
	cursor:pointer;
}

#buttonNext-sidebar {
	background: #D50000;
	text-shadow: -0.09em -0.09em rgba(0,0,0,.5);
	
	color: white;
	text-align: center;
	padding: 0.7em 1.2em;
	
	font-size: 20px;
	position: absolute;
	float: right;
 	bottom: 30px;
	right: 30px;
	
/* 	margin-right: auto;
	margin-left: auto; 
	margin-bottom: 30px; */
	
	border-radius: 0.2em;
	font-weight: bold;
}

#buttonNext-sidebar .fa{
	font-size: 16px;
}

#buttonNext-sidebar:hover {
	background: #D50000;
}
/* ############## End NAVIGATION BUTTONS */

#sidebar {
	width: 385px;
	position:absolute;
	right:0px;
	top: 40px;
	background:white;
/* 	height: 790px; */
	max-height: 860px;
	opacity: 0.95;	
	bottom: 40px;
	overflow: hidden;
}

#sidebar-content {
	/* padding: 40px;
	padding-top: 30px;
	
	padding-bottom: 30px; */
	overflow: scroll;
	position: absolute;
	top: 30px;
	bottom: 90px;
	left: 40px;
	right: 40px;

}

#sidebar-content p {
	font-size: 20px;
	line-height: 26px;
	
	margin-bottom: 20px;
	margin-top: 20px;
}

#sidebar-content h2 {
	font-size: 33px;
	margin-bottom: 20px;
	line-height: 40px;
	font-weight: bold;
	
	padding-bottom: 7px;
	border-bottom: solid 4px black;
}

.imagecontainer-page-content img{
	width: 100%;
	margin-top: 10px;
}

#sidebar-content .sub-left {
	text-align: left;
	font-size: 15px;
	line-height: 20px;
}

#sidebar-content .sub-right {
	text-align: right;
	font-size: 15px;
	line-height: 20px;
}

#sidebar-content .quote-container {
	display: block;
	overflow: hidden;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#sidebar-content .quote-begin {
	display: inline-block;
}

#sidebar-content .quote-end {
	display: inline;
	padding-left: 1em;
}


#sidebar-content .quote-content {
	font-style: italic;
	font-size: 20px;
	line-height: 26px;

	display: inline;
}

#sidebar-content .quote-container-left {
	float: left;
	width: 10%;
}

#sidebar-content .quote-container-right {
	float: right;
	width: 90%;
}


/* ########## Minimap style ############*/

.leaflet-control-minimap {
	left:30px;
	bottom:30px;
}

/* ########## End minimap style */

/* ########## remove attribution style ############*/

.leaflet-control-attribution {
	display: none;
}

/* ########## End remove attribution style */