@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
*{
	-webkit-user-select:none;		
}
::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    padding: 3px;
    opacity: 0.5;
}
 

::-webkit-scrollbar-track {    
}
 

::-webkit-scrollbar-thumb {    
    background: rgba(150,150,150,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(150,150,150,0.5); 
}

h1,h2,h3,h4,h5,h6,p,span,a,div,td,th{
	font-family: "arial", "helvetica neue";
}

a{
	text-decoration: none;
}

h2{
	font-size: 24pt;
	font-weight: bold;
}

h1{
	font-size: 36pt;
	font-weight: bold;
}

/*######### Launch page #############*/
#launchPage {
	margin: auto;
    width: 100%;
    height: 100%;
}

.launchPageHeader {
	text-align: center;
	margin-bottom: 1em;
}

.launchPageContent {
	margin-left: auto;
    margin-right: auto;
	width: 50%;
}

.launchPageText {
	font-size: 20pt;
	width: 70%;
}

.launchPageImage {
	float: right;
	width: 25%;
}

#launchButtonWrapper {
	display:block;
	position: fixed;
	width: 100%;
	margin-left: auto;
    margin-right: auto;
    bottom: 1em;
}

#launchButton {
	display:block;

	margin-left: auto;
    margin-right: auto;

    width: 7em;
    height: 3em;

    font-size: 30pt;
}

/*#########################*/

body{
	width: 100%;
	min-height: 100%;

}

#wrapper{
	width: 100%;
	min-height: 100%;

}

.menu{
	background-size: 100% 100%;
}

.shadow{
-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);		
}
.small-shadow{
-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);		
}
.inner-shadow{
-webkit-box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1);        
        box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 1);		
}

.border{
	border: 8px solid #ddd;
}
/*

					STARTUPLIST
*/



#header{
	position: absolute;
	top: 25px;
	width: 206px;
	height: 44px;
	left: -57px;
	background-color: #EEE;
	color: #777;
	text-align: center;
	z-index: 1000;
	-webkit-transform: rotate(-45deg);
-webkit-box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 1);	
}

#header h1{
	color: #252424;
}

#listcontainer{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #252424;
	padding-bottom: 100px;
}

.presentation_list{
	margin-top: 128px;
	width: 80%;
	margin-left: 10%;
	

	overflow-y:scroll;
	position: relative;
	background-color: #eee;
-webkit-box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 1);	
}

.presentation_container:first-child{
	margin-top: 50px;
}

.presentation_container{
	position: relative;
	width: 90%;
	margin: 20px;
	margin-left: 5%;	
	padding: 10px;
	background-color: #ddd;
	min-height: 148px;
	border: 4px solid transparent;
	-webkit-transition-duration:0.2s;
}

.presentation_container:hover{
	cursor: pointer;
	border: 4px solid #444;
	-webkit-transition-duration:0.2s;
}

.presentation_container img{
	position: absolute;
	top: 10px;
	left: 20px;
	width: 128px;
	height: 128px;	
	border: 8px solid #ddd;
-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);	
}

.presentation_container p, .presentation_container h2{
	margin:10px;
	margin-left: 200px;	
}






.langselect{
	position: absolute;
	top: 10px;
	right: 0px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(0,0,0,0.6);
	border-radius: 10px;
}


.langselect .flag.selected{
	border: 4px solid #d00;
}

.langselect .flag{
	background-color: #eee;
	display: inline-block;
	border: 4px solid #444;
	margin: 10px;
	width: 64px;
	height: 48px;
}

.layerInfoDisplay{
	position: absolute;
	width: 30%;
	max-width: 700px;
	background-color: #444;
	padding: 10px;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 1);	

	color: #eee;
}

.layerInfoDisplay h4{
	margin-top:10px;
	margin-bottom: 30px;
	font-size: 16pt;
	font-weight: bold;
}