.pageeditor.editorwindow, .pageeditor.editorwindow .container{
	overflow:hidden;
}

.pageeditor_toolbar, .editorwindow_toolbar{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 96px;
	text-align: center;
	background-color: #aaa;
-webkit-box-shadow: inset 0px 10px 30px -10px rgba(0, 0, 0, 1);
        
        box-shadow: inset 0px 10px 30px -10px rgba(0, 0, 0, 1);
}

.pageeditor_toolbar ul li, .pageeditor_toolbar ul li img,.editorwindow_toolbar ul li, .editorwindow_toolbar ul li img{
	width: 64px;
	height: 64px;
	background-color: #fff;
	border-radius: 64px;
	position: relative;
}

.pageeditor_toolbar ul li,.editorwindow_toolbar ul li{
	margin: 10px;
	border: 4px solid #252424;
	border-radius: 64px;
	display: inline-block;
-webkit-box-shadow:  0px 0px 20px -5px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 20px -5px rgba(0, 0, 0, 1);
    -webkit-transition-duration:0.2s;
}

.pageeditor_toolbar ul li:hover, .editorwindow_toolbar ul li:hover{
	border: 4px solid #d00;
-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);        
        box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 1);
	-webkit-transition-duration:0.2s;        
}

input, textarea, select{
	border: 1px solid #B6B6B6;
	padding: 5px;
	-webkit-transition-duration:0.2s;
}

.pageinput{
	position: relative;
	right: 0px;	
	top: 0px;
	width: 100%;	
	height: 100%;
	overflow-y:scroll;
}

.pageinput li{
	position: relative;
	padding: 15px;
	-webkit-transition-duration:0.1s;	
}

.pageinput li:hover{		
	background-color: #dedede;
	-webkit-transition-duration:0.1s;
}

.pageinput li:hover input,.pageinput li:hover select,.pageinput li:hover textarea,.pageinput li:hover div{
	border: 1px solid #999;
-webkit-box-shadow:  0px 0px 20px -5px rgba(0, 0, 0, 0.5);        
        box-shadow:  0px 0px 20px -5px rgba(0, 0, 0, 0.5);
	
	-webkit-transition-duration:0.2s;
}

.pageeditor_imgcontainer{
	position: absolute;
	right: 2%;	
	width: 90%;
	height: 40%;
	border: 2px dashed #999;
}

.pageinput input, .pageinput select, .pageinput textarea{
	position: relative;
	width: 90%;	
	margin-left: 3%;
}

.pageinput textarea{
	height: 150px;
}

.pageinput input.h2{
	font-size: 20pt;
	font-weight: bold;	
}


.pageeditor_imginput{
	border: 1px solid #dedede;
	height: 128px;
	width: 128px;
}

.removeField {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	right: 20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #ebebeb) );
	background:-moz-linear-gradient( center top, #ededed 5%, #ebebeb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ebebeb');
	background-color:#ededed;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:2px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 17px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.removeField:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #ebebeb 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#ededed');
	background-color:#ebebeb;
}.removeField:active {
	position:relative;
	top:1px;
}

.pageinput .imagepickerfield{
	height: 142px;
	width: 90%;
	margin-left: 3%;
	text-align: center;
	overflow-y:scroll;
	background-color: #eee;
	border:1px solid transparent;
}

.imagepickerfield{
	cursor: pointer;
}

.imagepickerfield img{	
	margin: 5px;
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

